
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import "./components/datatables";

@import "./components/bootstrap-datepicker";

.navbar-default, 
.panel-default, 
.panel-default > .panel-heading, 
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a {
	background: #026161;
	color: #ffffff;
}


.navbar-default .navbar-brand:hover, 
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand a:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus
{
	color: #000;
}

#leadTable_length, #leadTable_filter {
	display: none;
}
